* { 
    padding: 0;
    margin: 0;
}

section {
    &.mainBody {
        width: 80%;
        margin:auto;

        @media screen and (max-width: $mobile) {
            width:100%;
        }
    }
    &.mainThreePlaceholders {
        text-align: center;
        div{
            &.mainThreeColumns {
                width: 30%;
                display: inline-block;
                text-align: center;

                @media screen and (max-width: $mobile) {
                    display: block;
                    margin: auto;
                }
    
            }
            &.mainPlaceholder {
                width: 100px;
                height: 100px;
                background: gray;
                margin: auto;
                // vertical-align: middle;
                border-radius: 50px;
            }
        }
    }

    &.mainAd1 {
        
    }


    &.mainThreeColumnText {
        // text-align: center;
        border: solid black 1px;
        p {
            display: inline-block;
            width: 30%;

            @media screen and (max-width: $mobile) {
                display: block;
                width: 100%;
            }
        }

    }

    &.mainAdsAndLogin {
        div {
            display: inline-block;

            &.mainAd2 {
                width: 49%;
                box-sizing: border-box;
                
                @media screen and (max-width: $mobile) {
                    display: none;
                }
            }

            &.mainLogin {
                border: solid black 1px;
                
                box-sizing: border-box;
                width: 49%;

                @media screen and (max-width: $mobile) {
                    width: 100%;
                }
            }

        }
    }
}

.adPlace {
    background: lightgray;
}
