.widgetPhone {
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    background: white;
    border-radius: 30px;
    border: solid black 1px;
    cursor: pointer;

    img {
        color: white;
        width: 40px;
        margin: 10px;
    }


    @media screen and (max-width: $mobile) {
        display: none;
    }
}