* { 
    padding: 0;
    margin: 0;
}

section {
    &.mainBody {
        width: 80%;
        margin:auto;
    }
    &.mainThreePlaceholders {
        text-align: center;
        div{
            &.mainThreeColumns {
                width: 30%;
                display: inline-block;
                text-align: center;
    
            }
            &.mainPlaceholder {
                width: 150px;
                height: 150px;
                background: gray;
                margin: auto;
                // vertical-align: middle;
                border-radius: 75px;
            }
        }
    }

    &.mainAd1 {
        
    }


    &.mainThreeColumnText {
        // text-align: center;
        border: solid black 1px;
        p {
            display: inline-block;
            width: 30%;
        }

    }

    &.mainAdsAndLogin {
        div {
            display: inline-block;

            &.mainAd2 {
                width: 49%;
                box-sizing: border-box;
                
            }

            &.mainLogin {
                border: solid black 1px;
                
                box-sizing: border-box;
                width: 49%;
            }

        }
    }
}

.adPlace {
    background: lightgray;
}
